<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MorTeam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2CE33A11D192549003CDE63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CE33B51D19254B003CDE63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CE33C01D19254B003CDE63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
